<div class="how_to_container">
  <h1>アプリケーションの使い方</h1>
    <div class="create_manual">
      <h2>マニュアルの登録方法</h1>
      <p>処理の流れ マニュアルの登録 ⇨ 手順の登録<br>
         1.ページ上部にある、【マニュアルを登録する】のアイコンをクリックすると、マニュアルが登録できる画面に遷移します。<br>
        <img src="../../images/ecf30bc91c398467b91168a6efce8ca2.png" alt="アイコンの画像"><br>
         2.登録画面では、マニュアル名と工程名、動画を選択肢し「登録ボタン」を押すと、マニュアルが登録されます。<br>
          工程名は検索機能で必要な上です。必ず記入しましょう。<br>
        <img src="../../images/6818fc808688fc2fc1a441db37aed12c.jpeg" alt="マニュアルフォームの画像"><br>
         3.登録されたマニュアルは、【マニュアルの一覧をみる】で確認できます。<br>
         4.手順の登録は、登録されたマニュアルの右に【手順の一覧・作成】のアイコンをクリックすると、詳細画面に遷移します。<br>
         5.詳細画面の最下部、手順作成フォームに画像、手順内容、作業のポイントを入力し、「追加する」を押します。<br>
          詳細画面には、追加したごとに手順の番号が割り振られ、上から表示されます。
      </p>
    </div>
    <div class="use_manual">
      <h1>マニュアルの検索方法</h1>
      <h1>マニュアルの承認方法</h1>
    </div>
</div>
