<div class="how_to_container">
  <div class="how_to_box">
    <h1>アプリケーションの使い方</h1>
      <div class="create_manual">
        <h1>マニュアルの登録方法</h1>
        <p>処理の流れ マニュアルの登録 ⇨ 手順の登録<br>
          <br>
          ①ページ上部にある、【登録する】のアイコンをクリックすると、マニュアル登録できる画面に遷移します。<br>
          ②登録画面では、マニュアル名と工程名とタグを入力、動画を選択肢し「登録ボタン」を押すと、マニュアルが登録されます。工程名とタグは検索機能で必要な上です。必ず記入しましょう。<br>
          ③登録されたマニュアルは、【一覧をみる】で確認できます。<br>
          ④手順の登録は、登録されたマニュアルの右にある【手順の一覧・作成】のボタンををクリックすると、詳細画面に遷移します。<br>
          ⑤詳細画面の最下部、手順作成フォームに画像、手順内容、作業のポイントを入力し、「追加する」を押します。詳細画面には、追加したごとに手順の番号が割り振られ、上から表示されます。
        </p>
      </div>
      <div class="search_manual">
        <h1>マニュアルの検索方法</h1>
        <p>マニュアルの検索は、ページ上部にある【一覧をみる】をクリックし、マニュアル一覧画面から行います。<br>
          <br>
          ①ページ上部中央にある検索フォーム欄に、工程名もしくはタグをプルダウンで指定します。<br>
          ②フォーム欄を記入した状態で、検索ボタンをクリックすると、2つの条件に一致したマニュアルが表示されます。<br>
        </p>
      </div>
      <div class="approval_method">
        <h1>マニュアルの承認方法</h1>
        <p>マニュアルの承認は承認権限社のみ、可能な機能になります。<br>
           マニュアルの検索は、ページ上部にある【一覧をみる】をクリックし、マニュアル一覧画面から行います。<br>
         <br>
         ①各マニュアルの右位置に、マニュアルが未承認の場合は、【承認する】というボタンが表示されます。*承認されているものは表示されません<br>
         ②この承認ボタンがクリックされると、権限が閲覧のみのユーザーにもマニュアルが表示され、閲覧することができます。<br>
        </p>
      </div>
      <div class="unapproval_method">
        <h1>マニュアルの承認取り消し方法</h1>
          <p>承認を取りやめる場合は、承認方法の逆手順になります。<br>
          <br>
          ①承認済みのマニュアルに【承認を取りやめる】というボタンが表示されます。<br>
          ②このボタンをクリックすると、非承認マニュアルとなり、権限者以外は閲覧することが出来なくなります。
      </div>
  </div>
</div>
