<div class="about">
  <h1>Work_Manual_Appとは</h1>
  <p>煩わしい作業マニュアルを一元管理します。<br>
     教育にかける時間を見直しましょう。<br>
     このアプリケーションはこれらを解決します。<br>
  </p>
  <div class="about_nav">
    <%= link_to "アプリケーションの使い方", how_tos_path, class: "big_btn" %>
  </div>
</div>
