// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.message_wrap{
  height: 950px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}
.form_destination{
  margin-bottom: 30px;
}

.message_form textarea{
  width: 100%;
}
form{
  width: 450px;
}
.message_form input{

}